
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KG</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <form id="form_upload" method="POST" action="/Docs" enctype="multipart/form-data">
            <input type="file" id="pdfs" name="files[]" accept="application/pdf">
            <button type="submit">Upload</button>
        </form>
        <div id="status"></div>
        <div id="graph"></div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>